# Configuración de la Interfaz Web (UI)
SHOW_UI=true
FHIR_BASE_URL=http://localhost:8080/fhir/

# URL Base de la API Legacy del HRO
API_URL=https://api-legacy.hro.gob.gt

# Configuración OAuth2 para obtener tokens de acceso
ACCESS_TOKEN_URL=https://auth.hro.gob.gt/realms/hro/protocol/openid-connect/token
CLIENT_ID=fhir-facade-client
CLIENT_SECRET=tu-client-secret-aqui
USERNAME=usuario-api
PASSWORD=password-api
